<nav class="navbar navbar-light fixed-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0 text-center" style="opacity: 0;" href="#">
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <div class="nav-link">
        <span>
          02 Juin, 2020 Mardi
        </span>
        <a href="#">
          <i class="fa fa-bell mx-4"></i>
        </a>
        <a href="#">
          <i class="fa fa-user-circle-o"></i>
        </a>
      </div>
    </li>
  </ul>
</nav>
