<nav class="col-md-1 d-none d-md-block bg-secondary sidebar text-center">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item mt-5">
        <a class="nav-link menu-icon" routerLink="/development-path" [routerLinkActive]="'active-menu'">
          <i class="fa fa-bar-chart-o fa-2x"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link menu-icon" routerLink="/event" [routerLinkActive]="'active-menu'">
          <i class="fa fa-calendar-check-o fa-2x"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link menu-icon" href="#">
          <i class="fa fa-file-o fa-2x"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link menu-icon" href="#">
          <i class="fa fa-folder-open-o fa-2x"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a class="nav-link menu-icon" href="#">
          <i class="fa fa-comments fa-2x"></i>
        </a>
      </li>
      <li class="nav-item mt-5">
        <a class="nav-link menu-icon" href="#">
          <i class="fa fa-cogs fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
